<h1>All Plants</h1>
<%= link_to 'Add Plant', new_plant_path %>
<% @plants.each do |plant| %>
  <%= plant.name %>
  <%= link_to 'Show', plant_path(plant.id) %>
  <%= link_to 'Edit', edit_plant_path(plant.id) %>
  <%= link_to 'Delete', plant_path(plant.id), method: :delete %>
  <% end %>
